@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap');

:root {
  --primary-white: #fff
}
body {
  font-family: "Anek Latin" sans-serif;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.navbar-brand {
  color: var(--primary-white) !important;
  font-size: xx-large !important;
}


